.bottom-list {
	display:flex;flex-wrap:wrap
}

.header-logo {
	margin-top:20px;
	width:100px;
	height:100px
}

body {
	font-family:Lato,sans-serif;
	color:#676858;
	font-weight:300
}

.text-muted  {
	color:#BCBBB
}

.text-thin { 
	font-weight:100
}

.title-super {
	font-size:60px
}